* {
  /* General taskbar font, still Maple Mono */
  font-family: Maple Mono;
  border-radius: 20px;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  /* Linear gradients soften border radius */
  background-image: linear-gradient(to bottom, #1e1b29 0%,#1e1b29 100%);
  border-radius: 13px;
  padding: 0px;
  border-style: none;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,


#pulseaudio {
  background-image: linear-gradient(to bottom, #2a2536 0% ,#2a2536 100%);
  margin: 6px;
  margin-right: 0px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #e1d9f2; /* 淡紫色字体 */

  border-style: none;
  transition-duration: 120ms;
}
#backlight {
  background-image: linear-gradient(to bottom, #2a2536 0% ,#2a2536 100%);
  margin: 6px;
  margin-right: 0px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #e1d9f2;
}
#clock {
  margin-right: 6px;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #b293f0 0%, #b293f0 100%);
  color: #1e1b29;
  transition-duration: 120ms;
}
#workspaces {
  background-image: linear-gradient(to bottom, #2a2536 100%);
  margin: 6px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #e1d9f2;
}
#workspaces button {
  margin: 0 6px;
  font-weight: bold;
  color: #e1d9f2;
  transition: 120ms;
  background: transparent;
  border: none;
}
#workspaces button.focused {
  color: #c39cf0;
  background: rgba(195,156,240,0.2);
  border-radius: 6px;
  padding: 2px 6px;
}
#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-cava {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    color: #e1d9f2;  /* 粉色 */
    padding: 0 0.35em;
}

#custom-applauncher:hover {
  background-image: linear-gradient(to bottom,#c39cf0 0%, #c39cf0 100%);
  color: #1e1b29;
  transition-duration: 120ms;
}

#tray menu {
  background-color: #1e1b29;
  color: #e1d9f2;
  padding: 4px;
}

#tray menu menuitem {
  background-image: linear-gradient(to bottom,#2a2536 0%, #2a2536 100%);
  margin: 3px;
  color: #e1d9f2;
  border-radius: 4px;
  border-style: solid;
  border-color: #2a2536;
}

#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #2a2536 0%,#2a2536 100%);
  color: #c39cf0;
  font-weight: bold;
}


#battery {
  background-color: #2a2536;
  color: #e1d9f2;

}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #e1d9f2;
  background-color: #2a2536;
}

#custom-power {
  font-family: Maple Mono;          
  font-size: 11px;
  color: #e1d9f2;                  
  background-image: linear-gradient(to bottom, #2a2536 0%, #2a2536 100%);
  border-radius: 8px;
  padding: 4px 8px;
  margin: 6px ;
  transition: color 120ms, background-image 120ms;
}

#custom-power:hover {
  background-image: linear-gradient(to bottom, #b293f0 0%, #b293f0 100%);
  color: #1e1b29;                  
}

#power-profiles-daemon{
  font-family: Maple Mono;          
  font-size: 14px;
  color: #e1d9f2;                  
  background-image: linear-gradient(to bottom, #2a2536 0%, #2a2536 100%);
  border-radius: 8px;
  padding: 4px 8px;
  margin: 6px ;
  transition: color 120ms, background-image 120ms;
}

#power-profiles-daemon:hover {
  background-image: linear-gradient(to bottom, #b293f0 0%, #b293f0 100%);
  color: #1e1b29;                  
}


